body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 200%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board-row,
.status,
.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  margin-bottom: 7vh;
  margin-top: 13vh;
  font-size: 5.5vh;
  font-family: Silkscreen;
  font-weight: 500;
}

.resetBtn {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.resetBtn button {
  background-color: bisque;
  color: black;
  border-radius: 13px;
  font-weight: bold;
  font-family: Silkscreen ;
}

button {
  min-width: 4rem;
  min-height: 4rem;
  background-color: rgb(65, 56, 44);
  border: 1px solid rgb(255, 255, 255);
  transition: transform 0.135s;
  cursor: pointer;
  font-size: 5vh;
  font-weight: bold;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 950px) {
  .board-row,
  .status,
  .resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .status {
    margin-bottom: 3.5vh;
    margin-top: 12vh;
    font-size: 3.5vh;
    font-family: Silkscreen;
    font-weight: bold;
  }
  
  .resetBtn {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .resetBtn button {
    background-color: bisque;
    color: black;
    border-radius: 13px;
    font-weight: bold;
    font-family: Silkscreen ;
  }
  
  button {
    min-width: 4.5rem;
    min-height: 4.5rem;
    margin: 4px;
    background-color: rgb(65, 56, 44);
    border: 1px solid rgb(255, 255, 255);
    transition: transform 0.135s;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    color: white;
  }
  
  button:hover {
    transform: scale(1);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } 
}
