.scoreFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  color: black;
  font-family: Silkscreen;
}

.scoreBanner {
  font-size: 6vh
}